---
import type { CollectionEntry } from 'astro:content';
import EpisodeCard from './EpisodeCard.astro';

interface Props {
  episodes: CollectionEntry<'episodes'>[];
}

const { episodes } = Astro.props;
---

<ul class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 lg:gap-8'>
  {
    episodes.map((episode) => (
      <li>
        <EpisodeCard episode={episode} />
      </li>
    ))
  }
</ul>
