---
// Social links are now available in the hamburger menu
// This component shows quick action buttons for mobile users
const socials = [
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/betweentheturns',
    icon: 'i-uil-instagram',
  },
  {
    name: 'YouTube',
    url: 'https://www.youtube.com/@betweentheturns',
    icon: 'i-uil-youtube',
  },
  {
    name: 'Spotify',
    url: 'https://open.spotify.com/show/betweentheturns',
    icon: 'i-uil-music',
  },
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Social links</h2>
  <ul class='flex justify-center gap-3'>
    {
      socials.map((item) => (
        <li>
          <a
            href={item.url}
            target='_blank'
            title={`Follow on ${item.name}`}
            class='flex items-center justify-center w-12 h-12 bg-white text-orange border-black border-2 rounded card-shadow hover:bg-orange hover:text-white transition-colors'
          >
            <div class:list={[item.icon, 'w-6 h-6']} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
